main {
	display: flex;
	justify-content: center;
	align-items: center;
}

main>div {
	width: 80vw;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 20px 0;
}

h1,
h2 {
	text-align: center;
	text-wrap-mode: nowrap;
	font-weight: 500;
}

h1 {
	padding: 30px 20px;
}

h2 {
	padding: 10px 10px;
}