html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	overscroll-behavior: none;
}

body {
	color: white;
	font-family: monospace;
	transition: opacity 0.1s ease-in;
	min-height: 100vh;
	background: linear-gradient(#2c2f31, #11141a);
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0;
	font-size: 21px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}

hr {
	border: none;
	border-top: 1px solid #ffffff85;
	margin: 0;
	margin-top: 25px;
	height: 25px;
	width: 80vw;
}

small {
	font-size: 15px;
	font-weight: bold;
}

i {
	font-family: serif;
	font-style: italic;
}

i>b {
	font-weight: 900;
}

b {
	text-shadow: currentColor 0 0 10px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
}

kbd {
	background: linear-gradient(#3d3d3d, #292929);
	padding: 3px;
	color: #fff;
	border-radius: 10px;
}

samp {
	background-color: #242424;
	border: 1px solid #fff;
	border-radius: 8px;
	padding: 5px;
	font-size: 16px;
}

br {
	margin: 10px 5px;
}

button {
	margin: 8px;
	padding: 8px;
	border-radius: 8px;
	border: none;
	background-color: #00000060;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	box-shadow: #000000be 0 5px 4px;
	transition: transform 0.025s ease-out, box-shadow 0.025s ease-out, text-shadow 0.05s ease-out, font-weight 0.05s ease-out;
}

button:hover {
	cursor: pointer;
}

button:active {
	transform: translateY(5px);
	box-shadow: #000000be 0 0px 6px;
}

button.no-decoration {
	background-color: transparent;
	border: none;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	cursor: pointer;
	box-shadow: none;
	padding: 0px;
	margin: 0px;
}

button.no-decoration:active {
	transform: scale(0.85);
	box-shadow: none;
}

input.input-but-output {
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: unset;
}

input {
	background-color: #00000083;
	border: 1px solid #ffffff85;
	border-radius: 8px;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	padding: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	appearance: none;
}

input[type="number"] {
	appearance: textfield;
}

input[type="range"] {
	margin: 0 15px;
	padding: 0;
	appearance: none;
	background: linear-gradient(#444, #353535);
	height: 12px;
	width: 200px;
	border-radius: 10px;
	border: none;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
	appearance: none;
	width: 18px;
	height: 18px;
	background-color: #1e80ff;
	border-radius: 50%;
	outline: none;
	border: none;
}

input[type="checkbox"] {
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 5px;
	border: 1px solid #ffffff7a;
}

input[type="checkbox"]:checked {
	border: 1px solid #1e80ff;
	background-color: #1e80ff;
}

textarea {
	border: none;
	color: inherit;
	width: 80vw;
	height: 600px;
	outline: none;
	resize: none;
}

li {
	list-style-position: inside;
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
	outline: none;
}

a:focus-visible,
button:focus-visible {
	text-shadow: currentColor 0 0 15px;
	font-weight: bolder;
}

:any-link {
	transition: text-shadow 0.1s ease-out;
	color: #77d4ff;
	text-decoration: inherit;
}

:any-link:hover {
	text-shadow: currentColor 0 0 3px;
}

header {
	position: absolute;
	font-size: 25px;
	margin: 30px;
}

a:not([href]) {
	color: inherit;
}

header>a[href] {
	text-decoration: none;
}

h1 {
	text-align: center;
}

[title] {
	text-decoration: inherit;
}

[title]::after {
	font-size: 15px;
	content: "?";
}

.side-by-side {
	display: inline-flex;
	align-items: center;
}

.multiple-control {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0;
}

.multiple-control>p {
	margin: 0;
}

.panel {
	background-color: #00000046;
	backdrop-filter: blur(20px);
	margin: 20px;
	padding: 20px;
	border-top: 1px solid #ffffff7a;
	border-radius: 16px;
	box-shadow: #00000063 0 8px 4px;
}

svg.panel {
	padding: 0px;
}

.canvas-container {
	width: calc(100vw - 50px);
	height: calc(100vh - 200px);
	padding: 0;
}

div.canvas-container-top {
	height: 60px;
}

.canvas-container>canvas {
	border-radius: 16px;
}

.canvas-container>samp {
	position: absolute;
	left: 25px;
	top: 2dvh;
}

.canvas-container>span>br {
	margin: 0;
}

canvas {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 60px;
	text-wrap-mode: wrap;
	padding: 0px;
}

h2 {
	font-size: 45px;
}

h3 {
	font-size: 35px;
}

h4,
h5,
h6 {
	font-size: 30px;
}

main>div.article {
	width: 80vw;
	min-height: 100vh;
	font-family: serif;
}

div.article h1,
div.article h2,
div.article h3,
div.article h4,
div.article h5,
div.article h6 {
	margin: 20px 0;
}

div.articlev h1,
div.article h2 {
	text-align: center;
	text-wrap-mode: nowrap;
	font-weight: 500;
}

div.article h1 {
	padding: 30px 20px;
}

div.article h2 {
	padding: 10px 10px;
}