button {
	background-color: transparent;
	border: none;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	cursor: pointer;
	padding: 0px;
	margin: 0px;
}

h1 {
	font-size: 3.5vw;
}

input {
	width: 65vw;
}

#binary-result {
	display: flex;
	flex-direction: row;
	font-weight: 400;
}

#binary-result>span {
	display: flex;
	flex-direction: column;
	text-align: center;
	text-rendering: geometricPrecision;
	justify-content: center;
	padding: 10px;
}

#binary-result>span>p {
	margin: 0px;
	font-size: 75%;
	font-weight: 300;
	cursor: default;
}

.sign {
	color: #ff5d93;
}

.exponent {
	color: #a8ff7f;
}

.mantissa {
	color: #7ea0ff;
}

@media screen and (width <=1425px) {
	h1 {
		font-size: 50px;
	}
}

@media screen and (width <=1100px) {
	#binary-result {
		flex-direction: column;
	}
}